-@ val nodes: Set[de.schauderhaft.sprain.model.Node] = Set() 
-@ val links: Set[de.schauderhaft.sprain.model.Link] = Set() 

!!! 5
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/main.css")/
  body
    h1 Sprain - Catch your Webby Brain
    form(action="nodes/new" method="post")
      input(type="text" name="nodeName") 
      input(type="submit") 
    - for(n <- nodes)
      .container
        = n
        form(action="links/new" method="post")
          input(type="hidden" name="fromId" value="#{n.id}")
          input(type="text" name="link")
          select(name="toId")
            - for (o <- nodes)
              option(value="#{o.id}")<
                = o.name
          input(type="submit")
        form(action="nodes/#{n.id}/delete" method="post") 
          input(type="submit")
    - for(l <- links)
      .container
        = l
        form(action="links/#{l.id}/delete" method="post")
          input(type="submit")
