<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SPRAIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Don't sprain your brain, use SPRAIN</h1>

<div th:each="subject: ${graph.nodes}" th:attr="id=${subject.id}" >
    <p th:text="${subject.name}"/>
    <p th:each="relation: ${subject.relation}" ><span class="relation" th:text="${relation.name} + ' '"/><a th:href="@{'#' + ${relation.subject.id}}" th:rel="${relation.name}" th:text="${relation.subject.name} + ' '" /></p>
</div>

</body>

</html>